.balls {
    width: 4em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 35vh;
    margin-left: 45vw;
  }
  
  .balls div {
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color: #fc2f70;
  }
  
  .balls div:nth-of-type(1) {
    transform: translateX(-100%);
    animation: left-swing 0.5s ease-in alternate infinite;
  }
  
  .balls div:nth-of-type(3) {
    transform: translateX(-95%);
    animation: right-swing 0.5s ease-out alternate infinite;
  }
  
  @keyframes left-swing {
    50%,
    100% {
      transform: translateX(95%);
    }
  }
  
  @keyframes right-swing {
    50% {
      transform: translateX(-95%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .review-input {
    width: 100%;
    max-width: 50vw; 
    min-height: 20vh;
    padding: 10px;
    border: 1px solid #ced4da; 
    border-radius: 5px;
    transition: border-color 0.2s ease-in-out;
  }
  
  .review-input:focus {
    border-color: #80bdff; 
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); 
  }